
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(57, 15, 63, 0.973), rgb(26, 41, 54) , rgba(4, 31, 82, 0.986));
  font-family: sans-serif;
}

form,
h2,
h3 {
  text-align: center;
}

.form-container {
  padding: 30px 30px 20px;
  color: whitesmoke;
  border-radius: 20px;
  height: 80%;
  width: 80%;
  background: linear-gradient(45deg, rgb(31, 16, 119), rgb(87, 9, 139));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .form-container {
    width: 50%;
  }
}

input {
  border: none;
  color: rgb(155, 232, 255);
  background-color: transparent;
  border-bottom: 1px solid rgb(222, 227, 230);
}

input::placeholder {
  color: rgba(155, 232, 255, 0.589);
}

input:focus {
  outline: none;
}

.result-section {
  text-align: center;
}

button {
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  background: linear-gradient(45deg, rgba(43, 240, 164, 0.938), rgb(87, 179, 233));
  color: rgb(2, 2, 2);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:disabled {
 background: linear-gradient(45deg, rgba(206, 206, 206, 0.87), rgb(128, 128, 128));;
 opacity: 0.5;
}
#warning {
  text-align: center;
}

.reset-game-btn {
  background-color: rgba(221, 203, 240, 0.76);
}

#back {
  display: none;
}

.team-names,
.history {
  border: 1px solid rgba(67, 172, 214, 0.74);
  border-radius: 15px;
  padding: 20px;
}

.history {
  padding: 10px;
}

.team-name-container,
.history-container {
  width: 80%;
  margin: auto;
}

.history-container {
  width: 100%;
}

.none {
  display: none !important;
}

.team-name-container hr {
  background-color: red;
}

.team-name-container input {
  margin-top: 30px;
}

.score-container {
  display: flex;
  justify-content: space-between;
}

.score-container .team {
  width: 45%;
}

.score-container .divider {
  background-color: rgba(184, 184, 184, 0.719);
  width: 2px;
  color: transparent;
  margin-top: 25px;
}

.add-point-field {
  display: flex;
  justify-content: space-between;
}

.battle-icon {
  color: red;
  font-size: 20px;
}

.add-point-field-container {
  margin-top: 20px;
  border-radius: 10px;
  max-height: 0;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.add-point-field-container.open {
  padding: 20px;
  border: 1px solid rgba(67, 172, 214, 0.74);
  max-height: 160px;
}

.add-point-field > div {
  width: 45%;
}

.add-point-field input {
  margin-top: 15px;
  width: 80%;
}

.lock-field {
  margin-right: 10px;
  position: relative;
}

.lock-field .lock-field-btn {
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: 10px;
}

.lock-field .field-close {
  padding: 3px;
  background: linear-gradient(45deg, rgba(240, 31, 31, 0.979), rgb(199, 58, 255));
  border-radius: 45%;
}

.lock-field .field-open {
  padding: 3px;
  border-radius: 45%;
  background: linear-gradient(45deg, rgb(19, 226, 64), rgb(11, 95, 221));
}

.total-point-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.winner-show-container {
  margin-top: 10px;
  border: 1px solid rgba(67, 172, 214, 0.74);
  border-radius: 10px;
  padding: 20px;
  background: rgba(50, 34, 195, 0.438);
  background: linear-gradient(50deg, rgba(34, 90, 195, 0.699) 0%, rgba(173, 45, 253, 0.712) 100%);
}

.history-icon-container {
  text-align: right;
  margin-right: -52px;
  margin-top: -42px;
}

.history-icon {
  padding: 5px;
  background: rgba(100, 221, 237, 0.685);
  border-radius: 50%;
}

.clear-history {
  margin: 10px;
}

.history-container .history {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
}

.history-container .history li {
  margin-bottom: 10px;
}

.history-container.open .history-icon {
  background: rgba(237, 100, 100, 0.685);
}

.history-container.open .history {
  opacity: 1;
  max-height: 400px;
  overflow: auto;
}

.teamNameA, .teamNameB {
  text-transform: capitalize;
}

.history ul {
  list-style-type: decimal;
  text-align: left;
  padding-left: 30px;
}

.history .history-team-names {
  font-size: 13px;
}

.history hr {
  width: 80%;
}

.history p {
  margin: 10px 0 5px;
}

.history .time {
  font-size: 10px;
  color: #d9d9d9;
  float: right;
  margin-right: 5px;
  margin-top: 3px;
}


.history .winner-name {
  color: rgb(82, 235, 115);
}

.history .looser-name {
  color: rgb(255, 96, 96);
}

.history .draw {
  color: rgb(111, 255, 176);
}

.copyright {
  font-family: monospace, sans-serif;
  color: rgba(70, 180, 166, 0.36);
}